body{ /*Color de fons*/
background-color: #fcefd2;
text-align:center; 
}

header{
font-size:40px;
}

a{ /* Inici Home About Faq Contact */
text-decoration: initial;
font-size:40px;
color: brown;
list-style: none;
letter-spacing: 1px;
}

a:hover{ /*Que quan el ratolí es posi a sobre el text canvii*/
color: orange;
text-decoration: underline;
font-weight: 900;
}

h1{ /*Heading1 Núria Antonell Rifà*/
background-color: yellow;
font-weight: 1200; 
font-size: 150px;
color: black;
background-color: #fada5e;
font-family: 'Comforter', cursive;
}

.centered{
background-color: #fada5e;
}

h2{ /*Heading2*/
font-size:27px;
color: brown;
background-color: #edc687;
font-family: 'Comforter', cursive;
}


ul{
font-family: 'Roboto', sans-serif;
}

ul a{
    padding:  30px;
}

.grup-articles2{
text-align:center; 
margin: auto;
display: flex;
width: 85%;
}

.titols{
text-align: center;
}
   
p{
font-family: 'Roboto', sans-serif;
}

.picturezoom:hover{
transform: scale(1.2);
}

